<configuration>
    <appender name="json" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <fieldNames>
                <level>level</level>
            </fieldNames>
        </encoder>
    </appender>
    <logger name="org.eclipse.jetty" level="INFO"/>
    <logger name="io.netty" level="INFO"/>
    <logger name="org.mongodb.driver" level="OFF"/>
    <logger name="org.apache.kafka" level="OFF" />
    <root level="info">
        <appender-ref ref="json"/>
    </root>
</configuration>